# dub files
.dub
dub.selections.json
dub.userprefs

# dqp unittest executable
dpq-test-library

# libs
*.a
*.so
*.lib
*.dll

# vim swap files
*.swp

# Kate swap files
*.kate-swp

# Eclipse project files
.project

# other
.directory
__test__library__
